accelerate==1.6.0
addict==2.4.0
ag2==0.9.1.post0
aiohttp==3.8.6
aiomysql==0.2.0
aioredis==2.0.1
aiosignal==1.3.1
aiosqlite==0.17.0
aliyun-python-sdk-core==2.14.0
aliyun-python-sdk-kms==2.16.2
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appnope==0.1.4
APScheduler==3.10.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
astroid==3.0.1
asttokens==2.4.1
async-timeout==4.0.3
asyncer==0.0.8
asyncmy==0.2.8
attrs==23.1.0
backoff==2.2.1
banks==2.1.2
bcrypt==4.0.1
beautifulsoup4==4.13.4
build==1.2.2.post1
cachetools==5.3.2
cbor==1.0.0
certifi==2025.4.26
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.3.2
chroma-hnswlib==0.7.3
chromadb==0.4.15
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
contourpy==1.2.0
crcmod==1.7
cryptography==45.0.3
cycler==0.12.1
dashscope==1.23.3
dataclasses-json==0.6.2
datasets==3.6.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.6
dirtyjson==1.0.8
diskcache==5.6.3
distro==1.9.0
dnspython==2.4.2
docker==6.1.3
docopt==0.6.2
docx2txt==0.8
ecdsa==0.18.0
effdet==0.4.1
einops==0.7.0
email-validator==2.1.0.post1
emoji==2.8.0
et-xmlfile==1.1.0
exceptiongroup==1.3.0
executing==2.0.1
fastapi==0.115.12
fastmcp==2.3.4
filelock==3.13.1
filetype==1.2.0
fire==0.5.0
FlagEmbedding==1.3.4
FLAML==2.1.1
flatbuffers==23.5.26
fontmeta==1.6.1
fonttools==4.44.0
frozenlist==1.4.0
fsspec==2023.10.0
gast==0.5.4
gitdb==4.0.12
GitPython==3.1.44
gmpy2 @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_51391juwln/croot/gmpy2_1738085477864/work
google-auth==2.23.4
googleapis-common-protos==1.61.0
greenlet==3.0.1
griffe==1.7.3
gritql==0.2.0
grpcio==1.59.2
h11==0.14.0
httpcore==1.0.1
httptools==0.6.1
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.31.4
humanfriendly==10.0
idna==3.4
ijson==3.4.0
importlib-metadata==6.8.0
importlib-resources==6.1.1
iniconfig==2.0.0
inscriptis==2.6.0
iopath==0.1.10
ipython==8.17.2
ir_datasets==0.5.10
iso8601==1.1.0
isort==5.12.0
itsdangerous==2.1.2
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jiter==0.9.0
jmespath==0.10.0
joblib==1.3.2
jsonpatch==1.33
jsonpointer==2.4
kiwisolver==1.4.5
kubernetes==28.1.0
langchain==0.3.25
langchain-cli==0.0.36
langchain-community==0.3.24
langchain-core==0.3.60
langchain-text-splitters==0.3.8
langdetect==1.0.9
langid==1.1.6
langserve==0.3.1
langsmith==0.3.42
layoutparser==0.3.4
llama-cloud==0.1.19
llama-cloud-services==0.6.22
llama-index==0.12.36
llama-index-agent-openai==0.4.7
llama-index-cli==0.4.1
llama-index-core==0.12.36
llama-index-embeddings-openai==0.3.1
llama-index-indices-managed-llama-cloud==0.6.11
llama-index-llms-openai==0.3.38
llama-index-multi-modal-llms-openai==0.4.3
llama-index-program-openai==0.3.1
llama-index-question-gen-openai==0.3.0
llama-index-readers-file==0.4.7
llama-index-readers-llama-parse==0.4.0
llama-parse==0.6.22
loguru==0.7.2
lxml==4.9.3
lz4==4.4.4
Markdown==3.5.1
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.20.1
matplotlib==3.8.1
matplotlib-inline==0.1.6
mccabe==0.7.0
mcp==1.8.1
# Editable install with no version control (mcp-client-itsm==0.1.0)
-e /Users/barrywang/Documents/Yuzhuo_macBook_air/LLM_Project/MCP-Platform-utilization/MCP-server-manual/MCP-client/MCP-Server-Demo/mcp-client-itsm
# Editable install with no version control (mcp-server-itsm==0.1.0)
-e /Users/barrywang/Documents/Yuzhuo_macBook_air/LLM_Project/MCP-Platform-utilization/MCP-server-manual/MCP-client/MCP-Server-Demo/mcp-server-itsm
mdurl==0.1.2
milvus-lite==2.4.12
minio==7.2.0
modelscope==1.26.0
monotonic==1.6
mplfonts==0.0.8
mpmath @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_17iu6a8a3m/croot/mpmath_1690848269369/work
msg-parser==1.2.0
multidict==6.0.4
multiprocess==0.70.14
mypy-extensions==1.0.0
nest-asyncio==1.6.0
networkx==3.2.1
nltk==3.9.1
numpy==1.26.4
oauthlib==3.2.2
olefile==0.46
omegaconf==2.3.0
onnx==1.15.0
onnxruntime==1.15.1
openai==1.84.0
openapi-pydantic==0.5.1
opencv-python==4.8.1.78
openpyxl==3.1.2
opentelemetry-api==1.21.0
opentelemetry-exporter-otlp-proto-common==1.21.0
opentelemetry-exporter-otlp-proto-grpc==1.21.0
opentelemetry-proto==1.21.0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
orjson==3.10.18
oss2==2.18.3
overrides==7.4.0
packaging==23.2
pandas==2.1.3
parso==0.8.3
passlib==1.7.4
pdf2image==1.16.3
pdfminer.six==20221105
pdfplumber==0.10.3
peft==0.15.2
pexpect==4.9.0
Pillow==10.1.0
pip-tools==7.4.1
pipreqs==0.4.13
platformdirs==4.3.8
pluggy==1.3.0
portalocker==2.8.2
posthog==3.0.2
prompt-toolkit==3.0.40
protobuf==4.25.0
psutil==7.0.0
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
pyarrow==20.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyautogen==0.1.5
pycocotools==2.0.7
pycparser==2.21
pycryptodome==3.19.0
pydantic==2.11.4
pydantic-extra-types==2.1.0
pydantic-settings==2.9.1
pydantic_core==2.33.2
Pygments==2.16.1
pylint==3.0.2
pymilvus==2.5.8
pymilvus.model==0.3.2
pymssql==2.2.10
PyMySQL==1.1.0
pypandoc==1.12
pyparsing==3.1.1
pypdf==5.5.0
pypdfium2==4.24.0
PyPika==0.48.9
pypika-tortoise==0.1.6
pyproject_hooks==1.2.0
pyreadline3==3.4.1
pytesseract==0.3.10
pytest==7.4.3
python-dateutil==2.8.2
python-docx==1.1.0
python-dotenv==1.1.0
python-iso639==2023.6.15
python-jose==3.3.0
python-magic==0.4.27
python-multipart==0.0.20
python-pptx==0.6.23
pytz==2023.3.post1
PyYAML==6.0.1
rapidfuzz==3.5.2
redis==6.1.0
regex==2023.10.3
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==13.9.4
rsa==4.9
safetensors==0.5.3
scikit-learn==1.3.2
scipy==1.11.3
sentence-transformers==4.1.0
sentencepiece==0.1.99
shellingham==1.5.4
simplejson==3.19.2
six==1.16.0
smmap==5.0.2
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.5
SQLAlchemy==2.0.23
sse-starlette==1.8.2
stack-data==0.6.3
starlette==0.46.2
striprtf==0.0.26
sympy==1.12
tabulate==0.9.0
tenacity==8.2.3
termcolor==2.3.0
threadpoolctl==3.2.0
tiktoken==0.9.0
timm==0.9.10
tokenizers==0.21.1
tomli==2.0.1
tomlkit==0.12.2
torch==2.1.0
torchaudio==2.5.1
torchvision==0.16.0
tortoise-orm==0.20.0
tqdm==4.67.1
traitlets==5.13.0
transformers==4.51.3
trec-car-tools==2.6
typer==0.16.0
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2023.3
tzlocal==5.2
ujson==5.8.0
unlzw3==0.2.3
unstructured==0.10.30
unstructured-inference==0.7.11
unstructured.pytesseract==0.3.12
urllib3==1.26.18
uv==0.7.3
uvicorn==0.23.2
uvloop==0.21.0
warc3-wet==0.2.5
warc3-wet-clueweb09==0.2.5
watchfiles==0.21.0
wcwidth==0.2.9
websocket-client==1.6.4
websockets==15.0.1
win32-setctime==1.1.0
wrapt==1.16.0
xlrd==2.0.1
XlsxWriter==3.1.9
xxhash==3.4.1
yapf==0.40.2
yarg==0.1.9
yarl==1.9.2
zipp==3.17.0
zlib-state==0.1.9
zstandard==0.23.0
